<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Wurm Online Sales</a>
    <span class="navbar-text">
        @Jackjones
      </span>
</nav>

<div class="content">
    <div class="row">
        <div class="col-xl-4" *ngFor="let g of groups">
            <h3>
                {{g.Name}}
            </h3>

            <div *ngFor="let p of g.Items" class="sales-item" [ngClass]="{'sold' : p.Sold === true}">
                <span [ngClass]="p.Class" class="slot-icon"></span>
                <div class="hover-panel">
                    {{p.Name}} <span class="ql">QL: {{p.QL}}</span> <br /> {{p.Material}}, common
                    <br *ngIf="p.AoSP > 0 || p.CoC > 0 || p.WoA > 0" />
                    <br *ngIf="p.AoSP > 0 || p.CoC > 0 || p.WoA > 0" />

                    <span *ngIf="p.AoSP > 0">AoSP{{p.AoSP}} </span>
                    <span *ngIf="p.CoC > 0">CoC{{p.CoC}} </span>
                    <span *ngIf="p.WoA > 0">WoA{{p.WoA}} </span>

                    <br /><br /> Item Quality Cost: <span class="price">{{p.QL_Cost | price}}</span>
                    <br /> Material Multiplier: <span class="price">x{{p.Material_Multiplier}}</span>
                    <br /> Base Item Cost: <span class="price">{{p.Base_Cost | price}}</span>

                    <br />
                    <span *ngIf="p.AoSP > 0"><br />AoSP Cost: <span class="price">{{p.AoSP_Cost | price}}</span></span>
                    <span *ngIf="p.CoC > 0"><br />CoC Cost: <span class="price">{{p.CoC_Cost | price}}</span></span>
                    <span *ngIf="p.WoA > 0"><br />WoA Cost: <span class="price">{{p.WoA_Cost | price}}</span></span>

                    <br />
                    <br *ngIf="p.Discount" /> <span *ngIf="p.Discount" class="badge badge-pill badge-danger">-{{p.Discount}}% {{p.Discount_Reason}}</span>
                    <br /> Total Cost: <span class="price">{{p.Price | price}}</span>
                </div>
                <span>
                    <span class="rare" *ngIf="p.Rarity === 1">(Rare)</span><span class="supreme" *ngIf="p.Rarity === 2">(Supreme)</span> {{p.Name}} ({{p.Material}}), {{p.QL}}ql
                </span>
                <span *ngIf="p.AoSP > 0"> AoSP{{p.AoSP}} </span>
                <span *ngIf="p.CoC > 0"> CoC{{p.CoC}} </span>
                <span *ngIf="p.WoA > 0"> WoA{{p.WoA}} </span>

                <div class="price">
                    <span *ngIf="p.Discount" title="{{p.Discount_Reason}}" class="badge badge-pill badge-danger">-{{p.Discount}}%</span> {{p.Price | price}}
                </div>
            </div>
        </div>
    </div>
</div>