<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Wurm Online Sales</a>
    <span class="navbar-text">
        @Jackjones
      </span>
</nav>

<!-- <mat-toolbar>
    <span>Jack's Wurm Online Sales</span>
    <span class="menu-spacer"></span>
    <span>Jackjones, Xanadu</span>
</mat-toolbar> -->

<div class="content">
    <div class="row">
        <div class="col-md-4">
            <h3>
                Chain Armour Items
            </h3>

            <div *ngFor="let item of chainItems">
                <div *ngFor="let slot of item.slots">
                    <ul class="list-group" *ngFor="let a of slot.items">
                        <li class="list-group-item" [ngClass]="{'sold' : a.sold === true}">
                            <span>{{slot.type}} ({{a.material}}), {{a.ql}}ql</span>
                            <span *ngFor="let cast of a.enchants">
                            {{cast.spell}}{{cast.strength}}
                        </span>
                            <span class="price">{{a.price | price}}</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <h3>
                Plate Armour Items
            </h3>

            <div *ngFor="let item of plateItems">
                <div *ngFor="let slot of item.slots">
                    <ul class="list-group" *ngFor="let a of slot.items">
                        <li class="list-group-item" [ngClass]="{'sold' : a.sold === true}">
                            <span>{{slot.type}} ({{a.material}}), {{a.ql}}ql</span>
                            <span *ngFor="let cast of a.enchants">
                            {{cast.spell}}{{cast.strength}}
                        </span>
                            <span class="price">{{a.price | price}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>